h1 {
  color: yellowgreen;
  display: inline;
}
.fas.fa-cloud-showers-heavy {
  font-size: 300%;
}

.far.fa-moon {
  font-size: 150%;
}
.far.fa-sun {
  font-size: 150%;
  text-align: right;
}
.col.set {
  text-align: right;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  font-family: "Concert One", cursive;
  padding: 20px;
  margin: 5px auto;
  border-radius: 10px;
  border: 5px solid #5e35b1;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active {
  text-decoration: none;
}
